<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messenger.brandon.messenger">
    <application>
        <activity android:name="com.messenger.brandon.messenger.SplashActivity"
            android:theme="@style/NoActionBar">

        </activity>
    </application>
</manifest>
